@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    font-family: 'Lato';
    margin: 0px;
    padding: 0px;


}


body{
    background: linear-gradient(135deg,#20948b,#f4cc70 );
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}
#navbar{

    background-color: #20948b80;
    height: 13vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.interface{

    background-color: #0fb900;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    margin-top: 13vh;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;    
}


#coursesTitle{
    position: absolute;
    top: 50vh;
    left: 33vw;
    font-size: 59px;
    font-weight: bold;
    color: white;

}

#backImg{
    width: 100vw;
    left: 0px;
    z-index: -1;
}
.main-panel{

    margin-top: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    height: 100vh;
    
}

.course-item{

    width: 60%;
    height: 15vh;

    display: flex;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    border: #ddd 1px solid;
    border-radius: 10px;

    margin-top: 10px;
}
.course-item:hover{
    background-color: #eee;
    transition: 0.4s cubic-bezier(0.165, 0.84, 0.44, 1); /* I don't who is the effect of the cubic bezier, but is good looking. verify later.*/

}
.course-item a{
    text-decoration: none;
    color: darkgreen;
    font-weight: 600;

}

.course-item a:hover{

    color: #0fb900;
    transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);

}


.course-info{
    flex-grow: 1;
}
