@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    font-family: 'Lato';
    margin: 0px;
    padding: 0px;


}
body{
    display: flex;
    flex-direction: column;
}


.back-image{
    width: 100%;
    height: 100vh;
    background-image: url(../images/johns-hopkins-university-1590925_960_720.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;

}

.overlay{
    width: 100%;
    height: 100vh;
    background-color: #20948b80;
}
.title-box{
    position: absolute;
    top: 55vh;
    left: 5vw;
    z-index: 1;
}
.title{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 10px;
    color:white;


}

.content{
    width: 100%;
    height: 120vh;
    padding: 5px;
    
}
.container-flex{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-around;
    align-items: center;
    background-color: azure;
}
.content-item{
    border-radius: 10px;
    width: 30%;
    height: 50vh;
    background-color: #f4cc70;

    box-shadow: #eee 5px 5px 5px;


    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.inscript-option img{
    width: 50%;
    height: 50%;
    top: 0;
    
    border-radius: 10px;
}

.inscript-option p{
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    color: #b95700;
}
.inscript-option a{

    padding: 10px;
    width: 20%;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: #20948b;
   
    border-radius: 5px;
    
}

.learnmore-option img{
    width: 60%;
    height: 50%;
    border-radius: 10px;
}
.learnmore-option p{
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    color: #b95700;
}
.learnmore-option a{
    padding: 10px;
    width: 20%;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: #20948b;
   
    border-radius: 5px;
}