@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    font-family: 'Lato';
    margin: 0px;
    padding: 0px;

}

#navbar{
    display:flex;
    flex-direction: row;
    justify-content: center;

    min-height: 30px;

    position: sticky;

}

#navbar .nav-links{
    flex: 2;

    display: flex;
    justify-content: space-around;

}
.link-item{
    text-decoration: none;
    color: white;
    padding: 15px;
    margin: 2px;
    border-radius: 5px;
}
.link-item:hover{
    background-color: #de7a22;
    color: white;
    transition: 0.2s;
}
.back-image{
    width: 100%;
    height: 100vh;
    background-image: url(../images/johns-hopkins-university-1590925_960_720.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.overlay{
    width: 100%;
    height: 100vh;
    background-color: #20948b80;
}
.title{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 10px;
    color:white;
}
footer
{
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: 0;
    min-width: 100vw;
}
.contact-option{

    padding: 15px;
    margin: 2px;
}

.contact-option a{
    text-decoration: none;
    color: white;
    padding: 5px;
    
}